<div  style="position:relative; text-align: center;">
    <h2> Enter username of soundcloud user and click on Picture to download songs </h2>
    <p style='color: red;' ng-show="songs.alertEmpty">
        <b>
            Veuillez entrez le nom d'un utilisateur soundcloud
        </b>
    </p>
    <input type="text" placeholder="Username soundcloud..." ng-model="songs.username"/>
    <input type="button" value="Retrieve song's" ng-click="songs.mySongs()" />
</div>

<div class="spinner" ng-show="songs.processing" style="margin-top:50px;">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
<div style="position: relative;text-align: center;">
    <b ng-show="songs.nothingToshare" style="color: red;"> Nothing to share </b>
    <ul style="list-style: none;">
		<div class="lastsSong" ng-repeat="fav in songs.songs" itemdata="fav" itemcat="'mysongs'"></div>
	</ul>
</div>